# java related
*.class
*.war
*.ear

# other files
.svn
.svn/*
*.svn
.DS_Store
*.bak
*~
.gitignore
.idea
.idea/*
*.iml
.iml
.classpath
.idea
.project
.settings
.svn


# copied from original
logs
logs/*
tmp
tmp/*
.history
